# Copia este archivo a .env y completa los valores

# Base de datos
POSTGRES_PASSWORD=generar_un_valor_fuerte
AUTH_DB_PASSWORD=generar_un_valor_fuerte
DOCUMENTS_DB_PASSWORD=generar_un_valor_fuerte
WORKFLOW_DB_PASSWORD=generar_un_valor_fuerte
COLLABORATION_DB_PASSWORD=generar_un_valor_fuerte
FILES_DB_PASSWORD=generar_un_valor_fuerte

# MinIO
MINIO_ROOT_PASSWORD=generar_un_valor_fuerte

# JWT
# En el .env real agrega JWT_SECRET_KEY con un valor generado por:
# openssl rand -hex 32
JWT_ISSUER=edms-auth
JWT_AUDIENCE=edms

# Usuario bootstrap inicial
BOOTSTRAP_ADMIN_EMAIL=admin@edms.dev
BOOTSTRAP_ADMIN_PASSWORD=generar_un_valor_fuerte_de_minimo_12_caracteres
